*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, ol, ul, li, h1, h2, p, a, span, button {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

img {
  width: auto;
  display: block;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  color: #3F5D45;
}

p {
  font-size: 1rem;
  color: #3F5D45;
}

span {
  font-size: 1.25rem;
  color: #3F5D45;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: 1px solid #EAF0ED;
  width: 100%;
  padding: 0.75rem;
}

button:hover {
  color: #EAF0ED;
  background-color: #3F5D45;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1.5rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 40px;
}

.link {
  margin-left: 3rem;
  padding: 0.5rem 1rem;
}

.link:hover {
  background-color: #EAF0ED;
}

.banner {
  margin-bottom: 3rem;
}

.banner img {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.category {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  padding: 1rem 2rem;
}

.bg-g {
  color: #EAF0ED;
  background-color: #3F5D45;
  border: 1px solid #3F5D45;
}

.bg-wg:hover {
  color: #3F5D45;
  background-color: #EAF0ED;
}

.card__list {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 30px;
}

.card {
  width: 48%;
  position: relative;
  margin-bottom: 2rem;
}

.card .lable {
  position: absolute;
  left: 20px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 1;
  letter-spacing: 0.5rem;
  padding: 0.75rem 1rem 0.5rem 0.75rem;
  color: #EAF0ED;
  background-color: #3F5D45;
}

.card .like {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card .like:hover {
  width: 1.5rem;
}

.card .pic {
  width: 100%;
}

.card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAF0ED;
  text-align: center;
}

.card .info .name {
  font-size: 1.25rem;
  width: 60%;
  color: #3F5D45;
  padding: 14px;
  border-right: 1px solid #EAF0ED;
}

.card .info .pri {
  width: 40%;
  font-size: 1.25rem;
  font-weight: bold;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 50px;
}

.pagination .pagebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .pagebar .page {
  border: 1px solid #EAF0ED;
  padding: 0.75rem 1rem;
}

.pagination .pagebar .page__num {
  padding: 0.8rem 1.5rem;
  font-size: 1.25em;
}
/*# sourceMappingURL=all.css.map */