*, *::before, *::after {
    // outline: 1px solid tomato;
    box-sizing: border-box;
}

html, body, div, ol, ul, li, h1, h2, p ,a ,span, button {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
}

img {
    width: auto;
    // height: auto;
    display: block;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    color: #3F5D45;
}

p {
    font-size: 1rem;
    color: #3F5D45;
}

span {
    font-size: 1.25rem;
    color: #3F5D45;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3F5D45;
    background-color: #EAF0ED;
    border: 1px solid #EAF0ED;
    width: 100%;
    padding: 0.75rem;
}
button:hover {
    color: #EAF0ED;
    background-color: #3F5D45;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.link {
    margin-left: 3rem;
    padding: 0.5rem 1rem;
}
.link:hover {
    background-color: #EAF0ED;
}

.banner {
    margin-bottom: 3rem;
    img {
        width: 100%;
    }
}

.main {
    display: flex;
    justify-content: space-between;
}

.aside {
    flex-grow: 0.5;
}
.category {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    padding: 1rem 2rem;
}

.bg-g {
    color: #EAF0ED;
    background-color: #3F5D45;
    border: 1px solid #3F5D45;
}
.bg-wg:hover {
    color: #3F5D45;
    background-color: #EAF0ED;
}

.card__list {
    width: 68%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 30px;
}
.card {
    width: 48%;
    position: relative;
    margin-bottom: 2rem;
    .lable{
        position: absolute;
        left: 20px;
        writing-mode: vertical-lr;
        // width: 2rem;
        line-height: 1;
        letter-spacing: 0.5rem;
        padding: 0.75rem 1rem 0.5rem 0.75rem;
        color: #EAF0ED;
        background-color: #3F5D45;
    }
    .like {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .like:hover {
        width: 1.5rem;
    }
    .pic {
        width: 100%;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #EAF0ED;
        text-align: center;
        .name {
            font-size: 1.25rem;
            width: 60%;
            color: #3F5D45;;
            padding: 14px;
            border-right: 1px solid #EAF0ED;
        }
        .pri {
            width: 40%;
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}

.pagination {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    .pagebar {
        display: flex;
        align-items: center;
        .page {
            border: 1px solid #EAF0ED;
            padding: 0.75rem 1rem;
        }
        .page__num {
            padding: 0.8rem 1.5rem;
            font-size: 1.25em;
        }
    }
}